/* Let's Learn CSS Grid */

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#css-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15vw 15vw 25vw 25vw 25vw 25vw 25vw 15vw;
}

#css-grid > * {
    border-style: solid;
}

#navigation {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#welcome {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#events {
    grid-column: 1 / span 2;
    grid-row: 5;
}

#promotions {
    grid-column: 1 / span 2;
    grid-row: 6;
}

#content {
    grid-column: 1 / span 2;
    grid-row: 7;
}

#footer {
    grid-column: 1 / span 2;
    grid-row: 8;
}

@media screen and ( min-width: 500px ) {

    #welcome { grid-row: 3; }
    #sidebar { grid-row: 4; }

    #events {
        grid-column: 1;
        grid-row: 5;
    }

    #promotions { 
        grid-column: 2;
        grid-row: 5}

    #content { grid-row: 6; }
    #footer { grid-row: 7; }

}

@media screen and ( min-width: 1024px ) {

    #css-grid {
        grid-template-columns: 25% 10% 40% 25%;
        grid-template-rows: 15vw 25vw 25vw 25vw 15vw;
    }

    #navigation{
        grid-column: 2 / span 2;
        grid-row: 1
    }

    #login {
        grid-column: 4;
    }

    #welcome {
        grid-column: 1 / span 4;
        grid-row: 2
    }

    #events {
        grid-column: 1 / span 2;
        grid-row: 3
    }

    #promotions {
        grid-column: 3;
        grid-row: 3;
    }

    #sidebar {
        grid-column: 4;
        grid-row: 3 / span 3;
    }

    #content {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #footer {
        grid-column: 1 / span 3;
        grid-row: 5;
    }

}